<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>MyPage</title>
<link href="../../resources/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<style type="text/css">
/* 네비게이션 바 */
/* #header {width: 1000px; padding:0px;} */
.navbar-default {background-color: white;}
#top { background-color: #f2f2f2; height: 150px; border-bottom: 4px solid #0054FF;}
#topTextBox { width: 1000px; margin:0 auto; padding-top: 110px; font-size: 1.2em; font-weight: bold; color: #0054FF;}
/* 회원페이지 */
#myPage {width: 1000px; padding: 0px; padding-top: 50px; margin: 0 auto;}
</style>
</head>
<body>
	<div class="container-fluid" id="top">
	
		<!-- 네비게이션 바 -->
		<nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="navbar-scroll">
			<div class="container" id="header">
				<ul class="nav navbar-nav" id="menu">
					<li><a href="#"></a></li>
					<li><a href="#"></a></li>
					<li><a href="#"></a></li>
					<li><a href="#"></a></li>
					<li><a href="#"></a></li>
					<li><a href="#"></a></li>					
				</ul>
			</div>		
		</nav>
		
		<div id="topTextBox">
			<p>게시판</p>
		</div>	
			
	</div>
	
	<div class="container" id="myPage">
		<div class="row">
			<div class="col-md-12" id="titleBox">
				<table class="table table-hover">
					<thead>
						<tr>
							<td>NO</td>
							<td>지역/영화관</td>
							<td>제목</td>
							<td>등록일</td>
						</tr>
					</thead>
 					 <tr>
 					 	<td>1</td>
 					 	<td>전체</td>
 					 	<td>[라이브뷰잉] 라르크 앙 시엘 25주년 기념 라이브 진행 안내</td>
 					 	<td>2017.03.21</td>
 					 </tr>
				</table>
			</div>
		</div>
	</div>

</body>
</html>